body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.location {
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
    top: -500px;
    position: relative;

}

h1 {
    margin-bottom: 8px;
}

/* Styles for buttons */
.button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

/* Styles for text elements */
.main-text {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.sub-text {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Styles for textboxes */
.textbox {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.clock {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    background-color: #f0f0f0;

}

/* CSS for the table container */
.weather-table {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    height: 400px;
    overflow-y:scroll 
  }
  
  /* CSS for the table header */
  .table-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
  }
  
  /* CSS for each cell in the table header */
  .cell {
    flex: 1;
    text-align: center;
  }
  
  /* CSS for the table body */
  .table-body {
    margin-top: 8px;
  }
  
  /* CSS for each row in the table */
  .row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
  }
  
  /* CSS for each cell in the table body */
  .cell {
    flex: 1;
    text-align: center;
  }
